$backgroudColor: #232323;

.Root {
  width: 100%;
  background-color: $backgroudColor;
  height: 200px;
  position: relative;
  background-image: url("../../assets/banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  @media (max-width: 750px) {
    background-image: url("../../assets/banner_phone.png");
  }
}
